body {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#image-container {
    position: relative;
    display: inline-block;
    max-width: 100%; /* Ensure container doesn't overflow the width */
}

#interactive-image {
    max-width: 100%; /* Image takes maximum available width */
    height: auto;
    max-height: 70vh; /* Limit image height to 70% of the viewport height */
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .container {
        height: 100vh; /* Full height of the viewport */
        display: flex; /* Enable flexbox */
        flex-direction: column; /* Stack children vertically */
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
    }

    #image-container {
        width: 90%; /* Adjust image container width on small devices */
    }
}

#overlay-text {
    text-align: center; /* Center the text inside the element */
    font-size: 24px; /* Adjust the size as needed */
    width: 100%; /* Set the width of the element */
    margin: 0 auto; /* Center the element itself horizontally */
}