body {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#image-container {
    position: relative;
    display: inline-block;
}

#interactive-image {
    max-width: 70%; /* Adjust if needed */
    height: auto;
}

/* Responsive styles for screens narrower than 768px (common width for tablets and phones) */
@media (max-width: 768px) {
    #interactive-image {
        max-width: 90%; /* Increase the width on smaller screens */
    }

    /* Additional responsive adjustments can be added here */
}


#overlay-text {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}